In [34]:
import pandas as pd
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

# 1 Import Data

In [35]:
dataset = pd.read_csv("../data/results/all_fingerprints.csv")
dataset.head()

,smiles,0,1,2,3,4,5,6,7,8,...,872,873,874,875,876,877,878,879,880,class
0,COC1=CC=CC2=C1OC(=O)C(=C2)C(=O)NC3=CC=CC(=C3)C...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,CC[C@H](C)[C@@H](C(=O)N[C@@H]([C@@H](C)CC)C(=O...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,CC[C@H](C)[C@@H](C(=O)N[C@@H]([C@@H](C)CC)C(=O...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,C[C@@H](C(=O)N[C@@H](CCC(=O)O)C(=O)N[C@@H](CC1...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,C[C@@H](C(=O)N[C@@H](CCC(=O)O)C(=O)N[C@@H](CC1...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

# 2. Explore Data

In [36]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7796 entries, 0 to 7795
Columns: 883 entries, smiles to class
dtypes: int64(882), object(1)
memory usage: 52.5+ MB

In [37]:
dataset.describe()

,0,1,2,3,4,5,6,7,8,9,...,872,873,874,875,876,877,878,879,880,class
count,7796.0,7796.0,7796.0,7796.0,7796.0,7796.0,7796.000000,7796.0,7796.0,7796.000000,...,7796.0,7796.0,7796.0,7796.000000,7796.0,7796.0,7796.0,7796.0,7796.0,7796.000000
mean,0.0,0.0,0.0,0.0,0.0,0.0,0.000128,0.0,0.0,0.997306,...,0.0,0.0,0.0,0.000257,0.0,0.0,0.0,0.0,0.0,1.394305
std,0.0,0.0,0.0,0.0,0.0,0.0,0.011326,0.0,0.0,0.051834,...,0.0,0.0,0.0,0.016016,0.0,0.0,0.0,0.0,0.0,0.913578
min,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000
25%,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,1.000000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000
50%,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,1.000000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,2.000000
75%,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,1.000000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,2.000000
max,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,0.0,0.0,1.000000,...,0.0,0.0,0.0,1.000000,0.0,0.0,0.0,0.0,0.0,2.000000

In [38]:
dataset[dataset["class"] == 0].info() # 2322
print()
dataset[dataset["class"] == 1].info() # 78
print()
dataset[dataset["class"] == 2].info() # 5396

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2322 entries, 78 to 2399
Columns: 883 entries, smiles to class
dtypes: int64(882), object(1)
memory usage: 15.7+ MB

<class 'pandas.core.frame.DataFrame'>
Int64Index: 78 entries, 0 to 77
Columns: 883 entries, smiles to class
dtypes: int64(882), object(1)
memory usage: 538.7+ KB

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5396 entries, 2400 to 7795
Columns: 883 entries, smiles to class
dtypes: int64(882), object(1)
memory usage: 36.4+ MB

# 3 Data Cleansing

In [39]:
dataset.drop(['smiles'], axis=1, inplace=True)
dataset.head(10)

,0,1,2,3,4,5,6,7,8,9,...,872,873,874,875,876,877,878,879,880,class
0,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
5,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
6,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
7,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
8,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
9,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1

In [40]:
dataset.tail(10)

,0,1,2,3,4,5,6,7,8,9,...,872,873,874,875,876,877,878,879,880,class
7786,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,2
7787,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,2
7788,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,2
7789,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,2
7790,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,2
7791,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,2
7792,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,2
7793,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,2
7794,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,2
7795,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,2

# 4 Data Splitting

In [41]:
X = dataset.drop("class", axis=1)
y = dataset["class"]

In [42]:
X

,0,1,2,3,4,5,6,7,8,9,...,871,872,873,874,875,876,877,878,879,880
0,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7791,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
7792,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
7793,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
7794,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
7795,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [43]:
y

0       1
1       1
2       1
3       1
4       1
       ..
7791    2
7792    2
7793    2
7794    2
7795    2
Name: class, Length: 7796, dtype: int64

# 5 Standardized Features

In [44]:
scaler = StandardScaler()
X_std = scaler.fit_transform(X)

# 6 PCA

In [45]:
pca = PCA(n_components=0.9) # Keep 90% of Informations
X_pca = pca.fit_transform(X_std)

In [46]:
X_pca

array([[ 10.99659568, -13.58195296,  -8.04542966, ...,   0.58886448,
         -0.40502419,   1.15794597],
       [ 14.38060355,  -8.14840518,  -6.97021361, ...,  -1.09061235,
          3.29512646,   1.582262  ],
       [  5.89808175,  -3.95569213,  -0.75345536, ...,  -5.09370927,
         -0.22687265,  -3.59266954],
       ...,
       [-10.13423679,  -5.33971431,  -0.48241865, ...,   0.4395315 ,
          0.37872481,   0.63787673],
       [ -8.82980781,  -3.75907697,   0.60243776, ...,   0.73510267,
         -0.02841455,   0.4746408 ],
       [ -8.83980242,  -3.5734977 ,   0.550541  , ...,   0.96873597,
         -0.04420026,   0.33110323]])

In [47]:
X_pca.shape

(7796, 195)

In [48]:
X_pca_df = pd.DataFrame(X_pca)

In [49]:
X_pca_df

,0,1,2,3,4,5,6,7,8,9,...,185,186,187,188,189,190,191,192,193,194
0,10.996596,-13.581953,-8.045430,-7.038271,-0.383731,-3.875451,-0.990448,1.297883,-0.574683,-1.370185,...,-2.593302,-0.424665,1.330598,-0.871246,1.463499,-0.420871,-0.112825,0.588864,-0.405024,1.157946
1,14.380604,-8.148405,-6.970214,-6.883370,-3.731843,2.294834,-2.794362,2.756995,1.141011,4.466174,...,-0.546409,0.104833,2.173534,0.188480,0.616560,1.007843,-0.985466,-1.090612,3.295126,1.582262
2,5.898082,-3.955692,-0.753455,0.755042,-5.912044,4.227601,-4.860235,4.010481,0.751071,6.718320,...,3.570103,-1.402074,2.024921,-4.478798,2.390832,-4.388051,-0.940372,-5.093709,-0.226873,-3.592670
3,16.441638,-3.625168,-4.445587,-4.663273,-2.789747,1.248966,-2.006066,1.979731,-1.475145,0.365042,...,-1.564478,-1.109404,1.535672,-0.656872,-0.573160,-0.556370,-0.678389,0.096279,1.865521,0.709983
4,15.227068,-3.499011,-7.350787,-2.818675,-1.694236,-2.790198,-1.907673,1.458892,-2.542744,0.429509,...,-1.212683,-0.822749,0.278967,-0.629833,-0.808339,-0.787193,-1.012290,-0.291861,1.405601,0.632089
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7791,-6.519184,-1.975179,1.934837,1.355185,-1.104766,-1.073995,0.635247,-2.174292,0.351231,2.158437,...,-0.533772,0.629990,-0.609683,0.000688,0.777685,0.717557,1.148067,0.361464,-0.174682,-0.640264
7792,-8.936481,-3.827097,0.618619,0.926596,-0.369385,-0.559415,2.782636,-5.674792,6.605094,0.775494,...,-0.785010,-0.228395,0.183583,1.194140,-0.755381,-0.534693,0.027072,0.581102,-0.071217,0.163577
7793,-10.134237,-5.339714,-0.482419,-0.843599,-0.010870,0.205482,0.433432,-1.170274,1.914583,0.203546,...,-1.048194,-0.941713,0.270500,2.435655,-1.984606,-1.275028,-0.320185,0.439532,0.378725,0.637877
7794,-8.829808,-3.759077,0.602438,0.875080,-0.354298,-0.536431,2.552713,-5.185598,5.912753,0.736547,...,-1.465874,-0.726559,0.360763,2.146776,-1.507715,-0.910828,0.172310,0.735103,-0.028415,0.474641
7795,-8.839802,-3.573498,0.550541,0.823564,-0.365205,-0.543987,2.518646,-5.122452,5.984073,0.757989,...,-1.475749,-0.573334,0.174580,2.178668,-1.419768,-0.804978,0.120074,0.968736,-0.044200,0.331103

# 7 Concatenate with Target

In [50]:
X_pca_df["class"] = y
pca_df = X_pca_df
pca_df.head(10)

,0,1,2,3,4,5,6,7,8,9,...,186,187,188,189,190,191,192,193,194,class
0,10.996596,-13.581953,-8.045430,-7.038271,-0.383731,-3.875451,-0.990448,1.297883,-0.574683,-1.370185,...,-0.424665,1.330598,-0.871246,1.463499,-0.420871,-0.112825,0.588864,-0.405024,1.157946,1
1,14.380604,-8.148405,-6.970214,-6.883370,-3.731843,2.294834,-2.794362,2.756995,1.141011,4.466174,...,0.104833,2.173534,0.188480,0.616560,1.007843,-0.985466,-1.090612,3.295126,1.582262,1
2,5.898082,-3.955692,-0.753455,0.755042,-5.912044,4.227601,-4.860235,4.010481,0.751071,6.718320,...,-1.402074,2.024921,-4.478798,2.390832,-4.388051,-0.940372,-5.093709,-0.226873,-3.592670,1
3,16.441638,-3.625168,-4.445587,-4.663273,-2.789747,1.248966,-2.006066,1.979731,-1.475145,0.365042,...,-1.109404,1.535672,-0.656872,-0.573160,-0.556370,-0.678389,0.096279,1.865521,0.709983,1
4,15.227068,-3.499011,-7.350787,-2.818675,-1.694236,-2.790198,-1.907673,1.458892,-2.542744,0.429509,...,-0.822749,0.278967,-0.629833,-0.808339,-0.787193,-1.012290,-0.291861,1.405601,0.632089,1
5,17.130025,-3.808420,-4.924050,-5.212040,-3.039766,1.531539,-2.384644,2.428395,-1.377488,1.411122,...,-0.760231,1.957892,-0.244268,0.139777,-0.602629,-1.239124,0.537542,2.054770,-0.283153,1
6,17.285471,-3.714313,-4.792839,-5.279551,-3.026864,1.427829,-2.336943,2.374500,-1.547378,1.280448,...,-0.687859,1.833940,-0.232216,-0.011662,-0.657755,-1.365048,0.406031,2.046955,-0.238376,1
7,4.140540,2.339490,0.647358,3.806197,-2.496182,-0.632273,-2.412149,1.656912,-4.781378,2.059584,...,-0.535720,0.924843,0.020154,-0.934424,-0.212801,-0.121974,-0.614628,-0.714652,-0.746142,1
8,12.130178,-7.446414,-7.820945,-3.335555,-2.635230,-2.790517,-2.688600,1.825950,-0.187694,1.658327,...,-0.147585,0.812843,-0.513583,-0.009741,0.147273,-0.222888,-0.450167,0.563955,1.041704,1
9,19.761315,-6.560360,-11.011217,-8.690976,-4.372912,5.369039,-2.634858,4.442513,0.517369,5.069157,...,-0.127951,0.561762,0.236171,2.829602,-0.185255,0.670708,2.822490,-1.081907,1.582238,1

In [51]:
pca_df[pca_df["class"] == 0].info() # 2322
print()
pca_df[pca_df["class"] == 1].info() # 78
print()
pca_df[pca_df["class"] == 2].info() # 5396

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2322 entries, 78 to 2399
Columns: 196 entries, 0 to class
dtypes: float64(195), int64(1)
memory usage: 3.5 MB

<class 'pandas.core.frame.DataFrame'>
Int64Index: 78 entries, 0 to 77
Columns: 196 entries, 0 to class
dtypes: float64(195), int64(1)
memory usage: 120.0 KB

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5396 entries, 2400 to 7795
Columns: 196 entries, 0 to class
dtypes: float64(195), int64(1)
memory usage: 8.1 MB

# 8 Save to CSV

In [53]:
pca_df.to_csv("../data/pca/pca_fingerprint_results.csv", index=False)